.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.menu{
    position: absolute;
    z-index: 0;
    opacity: 0; /*cambiar en hover*/
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    color: white;
}

.ul{
    position: absolute;
    left: 20%;
    display: flex;
    width: 300px;
    top: 25%;
    height: 100vh;
    flex-direction: column;
}

.ul li{
    margin: 20px 0;
    z-index: 11;
    transition: 1s ease-in-out;

}

.ul li a{
    text-decoration: none;
    transition: 2s;
    font-size: 30px;
    font-weight: 500;
    mix-blend-mode: difference;
}


.collect-container{
    z-index: 5;
    transition: 1s ease-in-out;
    width: 150px;
}

.bg1{
    position: absolute;
    color: rgba(255, 255, 255, 0.568);
    font-size: 13px;
    opacity: 0;
    width: 350px;
    transform: translateY(-60%);
    transition: 1s ease-in-out;
}

.bg1 li{
    margin: 15px 0;
    cursor: pointer;
}


.collect-container:hover > .bg1{
    opacity: 1;
    transform: translateY(0%);
    transition: 1s ease-in-out;
}

.collect-container:hover{
    transition: 1s ease-in-out;
    margin-bottom: 100px;
}

.bg1-forniture{
    position: absolute;
    width: 100%;
    height: 320px;
    mix-blend-mode: difference;
    top: -50px;
    left: 450px;
    background: url(../../assets/images/files/Sofá\ blanco.png);
    background-size: cover;
    opacity: 0;
    transform: translateY(15%);
    transition: 1s ease-in-out;
}

.li-furniture:hover ~ .bg1-forniture{
    opacity: 1;
    transform: translateY(0%);
    transition: 1s ease-in-out;
}

.li-furniture:hover{
    color: white;
}